<template>
  <v-flex
    xs3
  >
    <v-card dark color="secondary">
      <v-card-title class="headline">
        {{ item.name }}
        <v-spacer />
        <v-icon color="orange">
          inbox
        </v-icon>
        <!-- <v-progress-circular
          indeterminate
          color="yellow"
          :width="3"
          :size="20"
        />
        <v-btn
          icon
          @click="dialogNotification = true"
        >
          <v-icon color="red">
            warning
          </v-icon>
        </v-btn>
        <v-icon color="green">
          done
        </v-icon> -->
      </v-card-title>

      <v-card-text>
        {{ item.description }}
      </v-card-text>

      <v-card-actions>
        <!-- <v-btn text>
          Start
        </v-btn>
        <v-btn text>
          Stop
        </v-btn> -->
        <v-spacer />
        <v-btn
          icon
          @click="dialogUpdate = true"
        >
          <v-icon color="green">
            create
          </v-icon>
        </v-btn>
        <v-btn
          icon
          @click="dialogDelete = true"
        >
          <v-icon color="orange">
            delete
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    <!-- CREATE -->
    <modal v-model="dialogUpdate" :info="item" />
    <!-- DELETE -->
    <v-dialog
      v-model="dialogDelete"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">
          Are you sure?
        </v-card-title>

        <v-card-text>
          Do you want to delete this dataset?
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn
            color="red darken-1"
            text
            @click="dialogDelete = false"
          >
            NO
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="$store.dispatch('datasets/removeDataset', item)"
          >
            YES
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- INFO -->
    <v-dialog
      v-model="dialogNotification"
      max-width="790"
    >
      <v-card>
        <v-card-title class="headline">
          NOTIFICATIONS
        </v-card-title>

        <!-- <v-card-text>
          Do you want to delete this dataset?
        </v-card-text> -->
        <v-simple-table height="500px">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  Type
                </th>
                <th class="text-left">
                  Error
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="error in notifications" :key="error.name + Math.random()">
                <td>{{ error.type }}</td>
                <td>{{ error.error }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>

        <v-card-actions>
          <v-spacer />

          <v-btn
            color="white darken-1"
            text
            @click="dialogNotification = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-flex>
</template>

<script>

export default {
  name: 'Tiles',
  components: {
    modal: () => import('~/components/modals/dataset')
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      dialogUpdate: false,
      dialogDelete: false,
      dialogNotification: false,
      notifications: [
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        },
        {
          type: 'Frozen Yogurt',
          error: 'ERROR Frozen Yogurt'
        }
      ]
    }
  }
}
</script>
