<template>
  <v-app-bar fixed app>
    <!-- <v-toolbar-side-icon @click="drawer = !drawer" /> -->
    <v-btn
      icon
      @click.stop="toggleSidebar"
    >
      <v-icon v-if="sidebar">
        chevron_right
      </v-icon>
      <v-icon v-else>
        chevron_left
      </v-icon>
    </v-btn>
    <v-toolbar-title v-text="title" />
    <v-spacer />
    <v-text-field
      v-if="searchBar"
      v-model="search"
      class="search-input"
      outlined
      solo
      flat
      append-icon="search"
      hide-details
      single-line
      placeholder="Search"
      @click.stop="stopPropagation"
      @blur="closeSearchBar"
    />
    <v-btn
      v-if="searchable && !searchBar"
      icon
      @click.stop="openSearchBar"
    >
      <v-icon>
        search
      </v-icon>
    </v-btn>
    <v-badge
      :value="!isEmpty"
      color="red"
      bottom
      dot
      bordered
      offset-y="18"
      offset-x="18"
    >
      <v-btn
        icon
        @click.stop="setNotificationShow(!notificationShow)"
      >
        <v-icon>
          notifications_none
        </v-icon>
      </v-btn>
    </v-badge>
    <v-btn
      v-if="create"
      icon
      @click.stop="$emit('create')"
    >
      <v-icon>
        add
      </v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Header',
  components: {},
  props: {
    create: {
      type: Boolean,
      default: false
    },
    searchable: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: 'TOUCHGEN'
    }
  },
  data () {
    return {
      search: '',
      searchTimeout: null,
      searchBar: false
    }
  },
  computed: {
    ...mapGetters({
      sidebar: 'sidebar',
      notificationShow: 'notificationShow',
      isEmpty: 'notifications/isEmpty',
      notificationCount: 'notifications/count'
    })
  },
  watch: {
    search () {
      if (this.searchTimeout !== null) {
        clearTimeout(this.searchTimeout)
      }

      this.searchTimeout = setTimeout(() => {
        if (this.search !== '') {
          this.$emit('search', this.search)
        }
      }, 200)
    }
  },
  methods: {
    ...mapActions({
      toggleSidebarAction: 'toggleSidebar',
      setNotificationShowAction: 'setNotificationShow'
    }),
    stopPropagation () {}, // функция заглушка останавлювающая всплытие до уровня document
    openSearchBar () {
      this.searchBar = true
      document.addEventListener('click', this.closeSearchBar, { once: true })
    },
    closeSearchBar () {
      this.searchBar = !!this.search.length
      if (!this.searchBar) { document.removeEventListener('click', this.closeSearchBar, { once: true }) }
    },
    toggleSidebar () {
      this.toggleSidebarAction()
      this.resetHeader()
    },
    setNotificationShow (val) {
      this.setNotificationShowAction(val)
      this.resetHeader()
    },
    resetHeader () {
      this.searchBar = false
    }
  }
}
</script>

<style lang="scss">
  .search-input {
    max-width: 300px !important;
  }
</style>
