<template>
  <v-app>
    <v-navigation-drawer
      :mini-variant="sidebar"
      permanent
      :width="200"
      app
    >
      <v-list dense>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.to"
        >
          <v-list-item-icon>
            <v-icon>
              {{ item.icon }}
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container grid-list-md fluid>
        <nuxt />
      </v-container>
    </v-main>
    <Notification />
    <v-footer class="justify-center" inset>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>

export default {
  components: {
    Notification: () => import('~/components/notification/index')
  },
  data () {
    return {
      items: [
        { icon: 'apps', title: 'Desktop', to: '/' },
        { icon: 'timeline', title: 'Statistics', to: '/stats' },
        { icon: 'settings_ethernet', title: 'Models', to: '/models' },
        { icon: 'view_array', title: 'Datasets', to: '/data' }
      ]
    }
  },
  computed: {
    sidebar: {
      get () {
        return this.$store.getters.sidebar
      },
      set (val) {
        this.$store.dispatch('setSidebar', val)
      }
    }
  }
}
</script>
