<template>
  <v-layout row wrap>
    <Header
      :title="title"
      searchable
      create
      @create="dialog = true"
    />
    <div
      v-if="isEmpty"
      class="text-h1 mb--1 transition-swing mx-auto mt-16"
    >
      NO DATA
    </div>
    <tile
      v-for="item in list"
      v-else
      :key="item + Math.random()"
      :item="item"
    />
    <modal v-model="dialog" />
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import page from '~/mixins/page.js'
export default {
  components: {
    modal: () => import('~/components/modals/dataset'),
    tile: () => import('~/components/tiles/index')
  },
  mixins: [page],
  async asyncData ({ store, query, params, error, app }) {
    await store.dispatch('datasets/getDataset')
    return {}
  },
  data () {
    return {
      title: 'DATASETS',
      dialog: false
    }
  },
  computed: {
    ...mapGetters({
      list: 'datasets/list',
      isEmpty: 'datasets/isEmpty'
    })
  }
}
</script>

<style lang="scss">
  .a {
    .b {
      display: block;
    }
  }
</style>
