<template>
  <v-layout row wrap>
    <Header
      :title="title"
      searchable
      create
      @create="dialog = true"
    />
    <div
      class="text-h1 mb--1 transition-swing mx-auto mt-16"
    >
      MODELS
    </div>
  </v-layout>
</template>

<script>
import page from '~/mixins/page.js'
export default {
  // components: {
  //   modal: () => import('~/components/modals/models')
  // },
  mixins: [page],
  data () {
    return {
      title: 'MODELS',
      dialog: false
    }
  }
}
</script>

<style lang="scss">
  .a {
    .b {
      display: block;
    }
  }
</style>
