<template>
  <v-layout row wrap>
    <Header
      :title="title"
    />
    <div
      class="text-h1 mb--1 transition-swing mx-auto mt-16"
    >
      STATISTICS
    </div>
  </v-layout>
</template>

<script>
import page from '~/mixins/page.js'
export default {
  mixins: [page],
  data () {
    return {
      title: 'STATISTICS'
    }
  }
}
</script>
