<template>
  <modal v-model="dialog" :required="required">
    <template v-slot:header>
      CREATE DATASET
      <v-spacer />
      <span v-if="loading">
        {{ progress }}
      </span>
      <v-progress-circular
        v-if="loading"
        indeterminate
        class="ml-2"
        color="yellow"
        :width="3"
        :size="20"
      />
    </template>
    <v-form ref="form" class="col-12">
      <v-row>
        <v-col cols="12" sm="6" md="6">
          <v-text-field
            v-model="form.name"
            label="Name"
            required
            :rules="rules.valid"
          />
        </v-col>

        <v-col cols="12" sm="6" md="6">
          <v-autocomplete
            v-model="form.type"
            :items="['Type 1', 'Type 2', 'Custom']"
            label="Type"
          />
        </v-col>

        <v-col cols="12">
          <v-file-input
            v-model="form.dataset"
            label="Dataset"
            :placeholder="typeof form.dataset === 'string' ? form.dataset : ''"
            :rules="rules.valid"
          />
        </v-col>
        <v-slide-y-transition
          tag="v-row"
        >
          <v-col
            v-if="form.type === 'Custom'"
            transition="slide-y-transition"
            cols="12"
          >
            <v-file-input
              v-model="form.transformer"
              label="Transformer"
              :placeholder="typeof form.transformer === 'string' ? form.transformer : 'Transformer'"
              :rules="rules.valid"
            />
          </v-col>
        </v-slide-y-transition>
        <v-col cols="12" sm="12">
          <v-textarea
            v-model="form.description"
            name="input-7-1"
            label="Description"
            hint="small description"
            rows="3"
            :rules="rules.valid"
          />
        </v-col>
      </v-row>
    </v-form>

    <template v-slot:footer>
      <v-spacer />
      <v-btn color="blue darken-1" text :disabled="loading" @click="close">
        Close
      </v-btn>
      <v-btn color="blue darken-1" text :disabled="loading" @click="save">
        Save
      </v-btn>
    </template>
  </modal>
</template>

<script>

import { mapGetters } from 'vuex'
import modal from '~/mixins/modal'
import modalPage from '~/mixins/modal_page'

export default {
  name: 'CreateDataset',
  mixins: [modal, modalPage],
  props: {
    info: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      // loading: true,
      form: {
        name: '',
        type: 'Type 1',
        description: '',
        dataset: null,
        transformer: null
      },
      rules: {
        valid: [
          v => !!v || ''
        ]
      }
    }
  },
  computed: {
    ...mapGetters({
      progress: 'datasets/progress',
      loading: 'datasets/loading'
    })
  },
  watch: {
    info: {
      handler (val) {
        if (val === null) {
          return
        }

        // if (typeof val.dataset === 'string' || typeof val.transformer === 'string') {
        //   this.loading = true

        //   /* TODO ЗАГРУЗКА ФАЙЛОВ */
        //   await (new Promise(resolve => setTimeout(() => {
        //     resolve()
        //   }, 1000)))

        //   this.loading = false
        // }

        Object.assign(this.form, val)

        if (typeof val.dataset === 'string') {
          this.form.dataset = {
            name: val.dataset
          }
        }

        if (typeof val.transformer === 'string') {
          this.form.transformer = {
            name: val.transformer
          }
        }
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    async save () {
      if (this.$refs.form.validate()) {
        if (this.info === null) {
          await this.$store.dispatch(
            'datasets/addDataset',
            Object.assign({}, this.form)
          )
        } else {
          await this.$store.dispatch(
            'datasets/putDataset',
            Object.assign({}, this.form)
          )
        }
        this.close()
      }
    },
    close () {
      this.dialog = false
      if (this.info === null) {
        this.$refs.form.reset()
        this.form = {
          name: '',
          type: 'Type 1',
          description: '',
          dataset: null,
          transformer: null
        }
      }
    }
  }
}
</script>
