<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-card>
      <v-card-title>
        <slot name="header" />
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <slot />
          </v-row>
        </v-container>
        <small v-if="required">*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <slot name="footer" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import modal from '~/mixins/modal'

export default {
  name: 'Modal',
  mixins: [modal]
}
</script>
