<template>
  <modal v-model="dialog" :required="required">
    <template v-slot:header>
      CREATE MODEL
    </template>

    <v-col cols="12" sm="6" md="4">
      <v-text-field label="Legal first name*" required />
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <v-text-field label="Legal middle name" hint="example of helper text only on focus" />
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <v-text-field
        label="Legal last name*"
        hint="example of persistent helper text"
        persistent-hint
        required
      />
    </v-col>
    <v-col cols="12">
      <v-text-field label="Email*" required />
    </v-col>
    <v-col cols="12">
      <v-text-field label="Password*" type="password" required />
    </v-col>
    <v-col cols="12" sm="6">
      <v-select
        :items="['0-17', '18-29', '30-54', '54+']"
        label="Age*"
        required
      />
    </v-col>
    <v-col cols="12" sm="6">
      <v-autocomplete
        :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"
        label="Interests"
        multiple
      />
    </v-col>

    <template v-slot:footer>
      <v-spacer />
      <v-btn color="blue darken-1" text @click="dialog = false">
        Close
      </v-btn>
      <v-btn color="blue darken-1" text @click="dialog = false">
        Save
      </v-btn>
    </template>
  </modal>
</template>

<script>

import modal from '~/mixins/modal'
import modalPage from '~/mixins/modal_page'

export default {
  name: 'CreateModels',
  mixins: [modal, modalPage]
}
</script>
