<template>
  <v-navigation-drawer
    v-model="notificationShow"
    temporary
    right
    fixed
  >
    <v-list dense>
      <v-list-item link>
        <v-list-item-icon>
          <v-icon light>
            compare_arrows
          </v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'Header',
  components: {},
  computed: {
    ...mapGetters({
      list: 'notifications/list'
    }),
    notificationShow: {
      get () {
        return this.$store.getters.notificationShow
      },
      set (val) {
        this.$store.dispatch('setNotificationShow', val)
      }
    }
  },
  methods: {}
}
</script>
